// resource.rc
#include "menu.h"
#include <windows.h>

//IDI_APPICON ICON "appicon.ico"
//IDB_LOGO    BITMAP "logo.bmp"

// A small dialog for "Details" (very simple)
IDD_DETAILS DIALOGEX 0, 0, 260, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Process details"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "PID:", -1, 10, 10, 40, 10
    LTEXT           "", 50001, 50, 10, 200, 10
    LTEXT           "Name:", -1, 10, 30, 40, 10
    LTEXT           "", 50002, 50, 30, 200, 10
    LTEXT           "Memory:", -1, 10, 50, 40, 10
    LTEXT           "", 50003, 50, 50, 200, 10
    DEFPUSHBUTTON   "Close", IDOK, 100, 90, 60, 14
END
